*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    height: 10vh;
    background-color: white;
    justify-content: space-between;
}

.nav{
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar li{
    list-style: none;
}

.nav li a{
    text-decoration: none;
    font-size: 20px;
    padding-right: 40px;
    font-family: 'Nunito', sans-serif;
    color: #808080;
}

.nav li a:hover{
    color: #cdcdcd;
}

.imagen{
    width: 10%;
}

/* FORM SING-UP */
.datos{
    display: flex;
    width: 100%;
}
article{
    width: 100%;
}
.formulario{
    display: flex;
    flex-wrap: wrap;
    height: 72vh;
}
.registrate{
    width: 50%;
    background-color: lightcyan;
    display: flex;
    height: 80vh;
}

.login{
    width: 50%;
    background-color: lightgrey;
}

input{
    width: 30%;
    margin-left: 5%;
    height: 4%;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
}
label{
    margin-left: 5%;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    height: 1%;
}

select{
    height: 4%
}
.num{
    width: 35%;
}
.btn{
    margin-left: 5%;
    height: 10vh;
}

input[type="email"]{
    margin-left: 6.5%;
}
.pw{
    margin-left: 3%;
}
.pw-si{
    margin-left: 8%;
}
.submit-su{
    margin-left: 15%;
}
.submit-si{
    margin-left: 20%;
    margin-top: 5%;
}

/* FORM SIGN-IN */

h1{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    height: 10%;
    font-size: 26px;

}



/* FOOTER */


.footer{
    background-color: lightslategray;
    height: 10vh;
}