*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header{
    display: flex;
    height: 10vh;
    background-color: #3F4444;
    justify-content: space-between;
}

.nav{
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar li{
    list-style: none;
}

.nav li a{
    text-decoration: none;
    font-size: 20px;
    padding-right: 40px;
    font-family: 'Nunito', sans-serif;
    color: #808080;
}

.nav li a:hover{
    color: #b3b3b3;
}

.imagen{
    width: 10%;
}

/* Fin Header */
.contactanos{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: grey;
}

label{
    font-family: Nunito;
}


/* FORM CONTACT */
.contact{
    margin-top: 4%!important;
}
.contact{
    width: 50%;
    margin: 0 auto;
    height: 85vh;
}
form{
    background-color: grey;
    padding: 5%;
}

/* IFRAME GOOGLE MAPS */

iframe{
    width: 50%;
    margin-left: 25%;
    height: 30vh;
    margin-top: 5%;
}



/* FOOTER */

.footer{
    display: flex;
    height: 11vh;
    background-color: #3F4444;
    justify-content: center;
}




/* Test Forms*/

@media (max-width: 576px){
    img{
        display: none;
    }
    .header, .footer{
        display: flex;
        justify-content: space-evenly;
    }
    iframe{
        margin-left: 25%;
        margin-top: 25%;
    }
    button{
        margin: 5% 0;
    }
}