*{
  margin:0 auto;
  padding: 0;
}

.contenedor{
    font-family: 'Roboto', sans-serif;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
}
.navbar ul li a:hover{
  color: #b3b3b3;
}
.navbar{
  width: 100%;
  background-color: #343F45;
  font-size: 20px;
  color: white;
}
.derecho{
  width: 40%;
  margin-top: 35px;
  display: inline-flex;
  list-style: none;
}
.butd{
  margin-left: 50px
}
.logo{
  margin-top: 25px;
  width: 60px;
  height: 50px;
  margin-left: 100px;
  margin-bottom: 20px;
}
.section1{
  background-image: url(../img/background.png);
  width: 100%;
  background-color: white;
  display: flex;

}
.login{
    color: white;
    display: flex;
    width: 30%;
    margin: 3% 3%;
}
.regform{
  background-color: #E05536;
  border-radius: 20px;
  text-align: left;
}
.tt{
  margin-left: 25px;
  margin-bottom: 30px;
}
.info{
  position: relative;
  font-size: 40px;
  width: 50%;
  padding-top: 240px;
}
.futer{
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  background-color: #343F45;
  color: black;

}
.texto{
  font-size: 50px;
  text-align: center;
}
.boton{
  border-radius: 5px;
  text-align: center;
}

/* Forms */

input{
  border-radius: 4px;
  width: 90%;
}
button{
  padding-left: 30px;
  padding-right: 30px;
  background-color: #b3b3b3;
  border-radius: 5px;
}
@media (max-width: 768px){
  .navbar ul li a{
    text-decoration: none;
    color: white;
  }
  .navbar ul li a:hover{
    color: #b3b3b3;
  }
  .section1{
    display: flex;
  }
  .login{
    width: 45%;
  }
  .info{
    width: 50%;
    padding-top: 200px;
  }   
}

@media (max-width:676px) {
  .navbar{
    height: 150px;
  }
  .navbar ul li a{
    text-decoration: none;
    color: white;
  }
  .navbar ul li a:hover{
    color: #b3b3b3;
  }
  .izquierdo{
    width: 100%;
    height: 50px;
    margin-left: 45%;
  }
  .logo{
    margin: 0 auto;
  }
  .derecho{
    width: 100%;
  }
  .section1{
    display: block;
  }
  .login{
    width: 70%;
    margin: 0 auto;
    padding-top: 5%;
  }
  .regform{
    padding-bottom: 5%;
  }
  .info{
    padding: 0;
    margin-top: 15%;
    width: 80%;
    padding-bottom: 10%;
  }

}

