*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    
    width: 100%;
}

.contenedor{
    width: 95%;
    box-sizing: border-box;
    overflow: hidden; 
    background-color: rgb(217, 235, 235);
    display: flex;
    padding: 0;
    font-family: 'muli', sans-serif;
    height: 100vh;
}
.encabezado{
    display: flex;
    background-color: #C16337;
    height: 10vh;
    width: 100%;
    align-items: flex-end;
    text-align: center;
    color: white;
    
    
    
   
    
    
    
}


.encabezado h2{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 2%;
    color: white;
    
}

.contenedorMenus{
    width: 25%;
    position: relative;
    background-color: #3F4444;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    background-attachment: fixed;
    
}
.botonPerfil{
    width: 50%;
    margin-left: 0%;
}

.usuario{
    display: flex;
    color: white;
    margin: 3%;
    align-items: center;
    
}
.usuario img{
    width: 55%;

}
.usuario h5{
    font-weight: 600; 
    text-align: justify;  
    
}
.configuracion{
    width: 10%;
    background-color: white;
}





.contenedorPosteos{
    position: relative;
    
    width: 75%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    
    
}





.post{
    display: flex;
    justify-content: center;
    margin: 1%;
    margin-bottom: 2%;
    
    
}
.persona{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
    position: relative;
    
    align-self: flex-start;

}


.persona h6{
    text-align: center;
}

.informe{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 3%;
}
.informe h6{
    font-style: italic;
}
.informe h3{
    font-weight: 700;
}
.informe img{
    max-width: 70%;
    border-radius: 2rem;
}

.informe p{
    text-align: justify;
}

.paginas{
    margin-left: 7%;

}
.menus{
    list-style-type: none;
}
.menus li h3{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 3%;
}

.contenedorTemas{
    width: 90%;
    background-color: white;
    height: 50vh; 
    border-radius: 5%;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: center;
    padding: 3%;
}
.temas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    
}
.temas li{ 
    background-color: #C16337;
    color: white;
    margin-top: 5%;
    text-align: center;
    height: 7vh;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: justify;
    
}
.boton{
    position: fixed;
    width: 5%;
    
    display: flex;
    align-content: flex-start;

    
    
   
}


/* CHEQUEAR PARA QUE EL SCROLLBAR APAREZCA SOLO CUANDO MUEVO */

/* modificacion scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  @media (max-width: 960px){
      .persona{ 
          flex-direction: row;
      }
  }